@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../assets/typo/MuseoSansCyrl-500.ttf");
}

@font-face {
  font-family: "Museo Sans Cyrl Bold";
  src: url("../assets/typo/MuseoSansCyrl-900.ttf");
}