@import 'utilities';

$text-color: #1D353D;
$bg-color: #F1F1F5;
$bg-gray: #E8E8E8;

$b-radius: 16px;

$museo: "Museo Sans Cyrl", sans-serif;
$museo-bold: "Museo Sans Cyrl Bold", $museo;

$xl: 1550px;
$lg: 1200px;
$sm: 768px;
$sm-medium: 650px;
$xs: 576px;